*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header-port {
    background-color: darkblue;
    color: white;
    width: 100%;
}


.upper-header-port {
width: 100%;
height: 50px;
display: flex;
justify-content: space-between;
background-color: darkblue;
color: white;


}


.header-logo-box {
    width: auto;
    height: auto;

}
.header-logo {
    height: 50px;
    width: auto;
    
    flex: 1;
    
}

.header-buttons nav ul{
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    width: 400px;
    align-items: center;
    list-style-type: none;
    
}

nav,
nav ul{
    height: 100%;
}

.header-buttons nav ul a {
    display: block;
    text-align: center;
    padding: 10px;  
    text-decoration: none;
    color: white;
}

.header-buttons nav ul a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: purple;
    transition: all .5s;
}

.header-buttons nav ul a:hover::after {

    width: 100%;
}

.lower-header-port {
    background-color: darkblue;
    height: 600px;
    width: 100%;
    display: flex;
    border-style: solid;
    border-top-width: 1px;
    border-top-color: grey;
    justify-content: space-between;

}



.left-side {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 120px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}

.right-side {
    padding-top: 20px;
    width: 50%;
    padding-bottom: 120px;
    display: flex;
   justify-content: center;
}


.left-side .signup-button {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    border-radius: 25px;
    margin-top: 40px;
}




.right-side .man-in-red {
    width: 350px;
    height: auto;

}

.body-port {
    margin-top: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-body-port {
    width: 100%;
    margin-top: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.h3 {
    width: fit-content;
}

.photo-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.photo-box {
    width: auto;
    height: 300px;
    border-color: lightblue;
    flex: 1;
    
   
}

.photos {
    width: 100%;
    height: 100%;
      
}

.photo-box > span {
    width: 222px;
    text-align: center;
}

.lower-body-port {
    background-color: lightgrey;
    width: 100%;
    margin-top: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    flex: 1;
    

}

.homepage-descr {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.author {
    width: 100;
    display: flex;
    justify-content: center;
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #333333;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}