.upper-header-port {
width: auto;
height: 100px;
display: flex;
justify-content: space-between;
background-color: darkblue;
color: white;
}


.header-logo-box {
    width: auto;
    height: auto;

}
.header-logo {
    height: 50px;
    width: auto;
    
    flex: 1;
    
}

.header-buttons {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    width: 400px;
}
.header-buttons.span {
    width: 100px;
    padding: 20px;
}

.upper-header-port.span {

}