.upper-header-port {
width: auto;
height: 100px;
display: flex;
justify-content: space-between;

}


.header-logo-box {
    width: auto;
    height: auto;

}
.header-logo {
    height: 50px;
    width: auto;
    
    flex: 2;
    margin-right: 100;
}

.upper-header-port.span {

}